<nav class="navbar navbar-expand-md bg-body-tertiary navbar py-4 sticky-top border-bottom">

  <div class="container-fluid">

    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/listings">Explore</a>
      </div>
     
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
       <% if (!currUser) { %>
        <a class="nav-link active" aria-current="page" href="/signup"><b>Signup</b></a>
        <a class="nav-link active" aria-current="page" href="/login"><b>Login</b></a>
       <%}%>
       <% if (currUser) { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
       <%}%>

      </div>
    </div>
  </div>
</nav>

