<% layout('layouts/boilerplate') %>

    <form method="POST" action="/signup" class=" needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label"> Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email </label>
            <input type="email" name="email" class="form-control" id="email" required>
            <div class="invalid-feedback">
                Please provide a valid email .
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
            <div class="invalid-feedback">
                Please provide a valid password.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>